body {
  background-image: url("Background.png");
  background-repeat: no-repeat;
  background-size: 100%; /* Ensures the image covers the entire container */
  background-position: 100%; /* Centers the image within the container */
  background-attachment: fixed; /* Keeps the image fixed while scrolling */
  color: black;
}

.item:hover
{
    transform: scale(2);
    margin-right: 10px;
    margin-left: 30px;
}