

button {
    
    }

.center{position: absolute; left: 50%; transform: translate(-50%,0);}

.container{
  display: inline-block
grid-template-columns: auto auto auto;
}

.input {
    width: 300px;
    height: 40px;
    font-size: 20px; 
    padding: 10px; 
  }

.item:hover
{
    transform: scale(1.5);
    margin-right: 10px;
    margin-left: 10px;
    
}