body{
  
}

button {
    
    }

.center{position: absolute; left: 50%; transform: translate(-50%,0);}

.container{
  display: inline-block
grid-template-columns: auto auto auto;
}

.gallery{display: inline-block; border: 10px solid #07554300; margin: 10px; width: 350px;}
.gallery .gallerytext{padding: 10px; text-align: center; background-color: white;}
.gallery:hover{border: 10px solid #ffffff;}
.gallerytext:hover{color: #ff0011;}
.gallery img{width: 100%; height: auto;}
.gallery video{width: 100%; height: auto;}

h1{
.roboto-mono-<uniquifier> {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}}
.input {
    width: 300px;
    height: 40px;
    font-size: 20px; 
    padding: 10px; 
  }

.item:hover
{
    transform: scale(1.5);
    margin-right: 10px;
    margin-left: 10px;
    
}

li{
  color: white;
  background-image: url('WIP2 Assets/skyboxes_18.png');
  background-size: 100%; 
  background-position: 100%; 
  background-attachment: fixed;
  color: white;
}

li:hover{
  color: #ff0011;
}

link{
  color: #ffffff;
}

p{
.roboto-mono{
  font-family: "Roboto Mono", monospace;
}}

.spin{{animation: spinny 1s infinite;}
@keyframes spinny {0% {rotate: 0deg;} 100% {rotate: 360deg;}}
}

